.container
{
  height: 208px;
  border-radius: 16px;
}
.crops-container
{
    margin-right: 100px;
}
.collection-container
{
    margin-left: 100px;
}
.logo-scan
{
    width: 90px;
    height: 90px;
}
.num
{
    font-size: 30pt;
    color: #33A852;
    font-weight: 300;
}
.description
{
    font-size: 10pt;
    opacity: 0.6;
}