.logo-text
{
  display: flex;
  justify-content: center;
  font-size: 14pt;
  opacity: 0.2;
  font-weight: bold;
}
.footer-text
{
    display: flex;
    justify-content: center;
    font-size: 6pt;
    opacity: 0.2;
}